@import "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css";



html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fefae0;
  height: 100%;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}


@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

/* Grid for whole site */
.grid-container {
display: grid;
max-width: 2560px;
margin-right: auto;
margin-left: auto; 
grid-template-columns: repeat(auto-fit, minmax(320px,1fr));
grid-template-rows: repeat(auto-fit,minmax(320px,1fr));
gap: 5px;
}

.j1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
  align-self: start;
  margin-left: 100px;
}


.j2 { 
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 5;
  grid-row-end: 5;
  align-self: start;
  justify-self: end;
  margin-left: 200px;
}

#j2{ 
  height: auto;
  max-width: 90%;
  padding-left: 20px;
}

.img1 { 
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 5;
  justify-self: end;
  margin-right: 200px;
}

/*footer*/

footer { 
  margin-top: 300px;
  width: 100%;
  background-color: #dda15e!important;
}

.container { 
  color: black;
}


/*Headers*/
#signU {
  font-family: Monstserrat, sans-serif !important;
  font: 900;
}

.logo {
  border: 10% solid transparent;
}


@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
header {  
  /* This section calls the slideInFromLeft animation we defined above  */
  animation: 2s ease-out 0s 1 slideInFromLeft;
}

/*-------------------------------------------------------------------------------------------------------------------------------------------*/

/* Styling for all images */ 

img {
  max-width: 100%;
  max-height: 100%;
}

#shoppingcart { 
  max-width: 90%;
  height: auto;
  position: relative;
}



/*input css*/ 
/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Add a background color when the inputs get focus */
/* Set a style for all buttons */


button {
  display: inline-block;
  background-color: #04AA6D;
  color: white;
  padding: 14px 50px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
button:hover {
  opacity: 1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
  float: left;
  width: 50%;
}

/* Float cancel and signup buttons and add an equal width */
.signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}
.close:hover, .close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}
/*------------Login Styling ------------------------------------------------------ */
/* Bordered form */
form {
  border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input .login[type=text], input .login[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Center the image and position the close button */
/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 100px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 50%;
  border-radius: 100%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 15px;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}
@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}

/* Site Wide Media Queries */ 



/* Extra large devices (large laptops and desktops, 1200px and up) */




/* 
@media screen and (min-width: 1200px)  {

  .navbar {   
    width: 100%;
    max-width: none;
    min-width: 1200px;
  }

  .nav-links { 
    width: fit-content;
    justify-content: end; 
    min-width: 1200px;    
  }


  .shippingBannerP { 
    width: auto!important;
    max-width:none;
    grid-column-end: auto!important0; 
  }

  .footer { 
    max-width: none;
    min-width: 1200px; 
  }

  .row { 
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  } 

} */

@media only screen and (min-width: 992px) and (max-width: 1200px) {    
  .navbar {   
    max-width: 1200px;
    min-width: 992px;
  }

  .shippingBannerP { 
    max-width: 1200px;
    min-width: 992px;
  }

  .footer { 
    max-width: 1200px;
    min-width: 992px;
  }

  .row { 
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }


} 


@media screen and (min-width: 768px) and (max-width: 992px) {

  .navbar {   
    width: 100%;
    max-width: 992px;
    min-width: 768px;
  }

  .nav-links { 
    max-width: 992px; 
    min-width: 768px;    
  }


  .shippingBannerP { 
    max-width: 992px;
  }

  .footer { 
    max-width: 992px;
    min-width: 768px;
  }

  .row { 
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }


}

@media screen and (min-width: 600px) and (max-width: 768px) {

  .navbar {   
    width: 100%;
    max-width: 768px;
    min-width: 601px;
  }

  .nav-links { 
    max-width: 768px; 
    min-width: 601px;    
  }


  .shippingBannerP { 
    max-width: 768px;
  }

  .containerF{ 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  .row { 
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }


} 


@media screen and (max-width: 600px) {
  

  .navbar {   
    max-width: 600px;
    /* min-width: px; */
  }


  .shippingBannerP { 
    max-width: 600px;
    /* min-width: px; */
  }



  .containerF{ 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

  .row { 
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
  }

  .navbar { 
  margin-bottom: 100px;
}


  .j1 { 
    padding: 1rem;
    height: 4rem;
    grid-row-start: 3;
    grid-row-end: -1;
    grid-column-start: 1;
    grid-column-end:1;
    align-self: center;
    margin: 0;
  }

  .j2 { 
    padding: 1rem;
    height: 4rem;
    grid-row-start: -2;
    grid-row-end: -4;
    grid-column-start: 1;
    grid-column-end:1;
    align-self: center;
    margin: 0;
  }

  .img1 { 
    padding: 1rem;
    height: 4rem;
  }

}



